<app-menu></app-menu>
<div id="main">
<form #formRef="ngForm" (ngSubmit)="addVariable()" class="needs-validation">
	<div class="card shadow center">
		<div class="card-header"><span i18n>Fiche d'une variable</span></div>
		<div class="card-header shadow-sm">
			<button (click)="goToListVariable()" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-xmark"></i>&nbsp;<span i18n>Retour</span></button>
		</div>
		<div class="card-body">

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Type</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="type" name="type" [(ngModel)]="variable.type" #typeRef="ngModel" required [class.is-invalid]="typeRef.invalid && typeRef.touched">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Code</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="code" name="code" [(ngModel)]="variable.code" #codeRef="ngModel" required [class.is-invalid]="codeRef.invalid && codeRef.touched">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Valeur</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="valeur" name="valeur" [(ngModel)]="variable.valeur">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Notes</span></label>
				<div class="col-sm-8">
					<textarea class="form-control form-control-sm field-separate" id="notes" name="notes" [(ngModel)]="variable.notes"></textarea>
				</div>
			</div>

		</div>
		<div class="card-footer">
			<button type="button" class="btn bg-gradient btn-success btn-sm text-left" type="submit" [disabled]="formRef.invalid"><i class="fa-solid fa-plus"></i>&nbsp;<span i18n>Créer</span></button>
		</div>
	</div>
</form>
</div>
