<br />
<div class="card shadow">
  <div class="card-header">Fiche d'une variable</div>
	<div class="card-header shadow-sm">
		<button type="button" (click)="goToListVariable()" class="btn btn-primary btn-sm"><i class="fa-solid fa-xmark"></i>&nbsp;Retour</button>
	</div>
	<div class="card-body">

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Créé le</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="dateCreation" name="dateCreation" [(ngModel)]="variable.dateCreation" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Modifié le</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="dateModification" name="dateModification" [(ngModel)]="variable.dateModification" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Type</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="type" name="type" [(ngModel)]="variable.type" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Code</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="code" name="code" [(ngModel)]="variable.code" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Valeur</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="valeur" name="valeur" [(ngModel)]="variable.valeur" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Notes</label>
			<div class="col-sm-10">
				<textarea class="form-control form-control-sm field-separate" id="notes" name="notes" [(ngModel)]="variable.notes" disabled></textarea>
			</div>
		</div>


	</div>
	<div class="card-footer">
		<button type="button" (click)="updateVariable(variable.numeroVariable)" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen"></i>&nbsp;Editer</button>
	</div>
</div>
