<br/>
<div class="row">
	<div class="card col-md-6 offset-md-3 offset-md-3">
		<div class="card-body">

			<div class="form-group">
				<label>Créé le</label> 
				<input type="text" class="form-control" id="dateCreation" [(ngModel)]="variable.dateCreation" name="dateCreation" disabled>
			</div>

			<div class="form-group">
				<label>Modifié le</label> 
				<input type="text" class="form-control" id="dateModification" [(ngModel)]="variable.dateModification" name="dateModification" disabled>
			</div>

			<div class="form-group">
				<label>Type</label> 
				<input type="text" class="form-control" id="type" [(ngModel)]="variable.type" name="type" disabled>
			</div>

			<div class="form-group">
				<label>Code</label> 
				<input type="text" class="form-control" id="code" [(ngModel)]="variable.code" name="code" disabled>
			</div>

			<div class="form-group">
				<label>Valeur</label> 
				<input type="text" class="form-control" id="valeur" [(ngModel)]="variable.valeur" name="valeur" disabled>
			</div>

			<div class="form-group">
				<label>Notes</label>
				<textarea class="form-control" id="notes" name="notes" disabled>{{variable.notes}}</textarea>
			</div>

			<br />
			<button class="btn btn-success" type="submit">Submit</button>

		</div>
	</div>
</div>