<app-menu></app-menu>
<div id="main">
<div class="card shadow center">
	<div class="card-header">Fiche d'une production</div>
	<div class="card-header shadow-sm">
		<button (click)="goToListProduction()" class="btn bg-gradient btn-primary btn-sm">
			<i class="fa-solid fa-xmark"></i>&nbsp;Retour
		</button>
	</div>
	<div class="card-body scrollable">

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Créé le</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="dateCreation" name="dateCreation" [(ngModel)]="production.dateCreation" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Modifié le</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="dateModification" name="dateModification" [(ngModel)]="production.dateModification" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Type</label>
			<div class="col-sm-8">
				<div class="form-group field-separate">
					<select class="form-select form-select-sm" id="type" name="type" [(ngModel)]="production.type" disabled> 
					  @for (type of types; track type.key) { <option [value]="type.key">{{ type.value }}</option> }
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Titre</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="titre" name="titre" [(ngModel)]="production.titre" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Auteur(s)</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="auteurs" name="auteurs" [(ngModel)]="production.auteurs" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Groupe(s)</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="groupes" name="groupes" [(ngModel)]="production.groupes" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Plateforme</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="plateforme" name="plateforme" [(ngModel)]="production.plateforme" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Commentaire</label>
			<div class="col-sm-8">
				<textarea class="form-control form-control-sm field-separate" id="commentaire" name="commentaire" [(ngModel)]="production.commentaire" disabled></textarea>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Informations privées</label>
			<div class="col-sm-8">
				<textarea class="form-control form-control-sm field-separate" id="informationsPrivees" name="informationsPrivees" [(ngModel)]="production.informationsPrivees" disabled></textarea>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Gestionnaire</label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="plateforme" name="plateforme" [(ngModel)]="production.nomGestionnaire" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Archive</label>
			<div class="col-sm-8">
				<button type="button" (click)="updateArchive(production.numeroProduction)" class="btn bg-gradient btn-primary btn-sm field-separate"><i class="fa-solid fa-upload"></i>&nbsp;Téléverser</button>
				<small class="text-muted">&nbsp;&nbsp;déjà enregistré : {{ production.nomArchive }} (v{{ production.numeroVersion }})</small>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr">Vignette</label>
			<div class="col-sm-8">
				<img src="{{ production.vignette }}" alt="" class="img-fluid rounded-2">
			</div>
		</div>

	</div>
	<div class="card-footer">
		<button type="button" (click)="updateProduction(production.numeroProduction)" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-pen"></i>&nbsp;Editer</button>
	</div>
</div>
</div>