<br />
<div class="card shadow">
	<div class="card-header">Table des variables</div>
	<div class="card-header shadow-sm">
		<div class="row">
			<div class="form-group col-sm-4">
				<button type="button" (click)="goToRefreshListVariable()" class="btn btn-primary btn-sm" style="margin-right: 5px;"><i class="bi bi-arrow-clockwise"></i>&nbsp;Actualiser</button>
				<button type="button" (click)="goToNewVariable()" class="btn btn-primary btn-sm" style="margin-right: 5px;"><i class="bi bi-plus-lg"></i>&nbsp;Créer</button>
			</div>
			<div class="form-group col-sm-8">
				<select class="form-select form-select-sm">
					<option selected> </option>
          @for (type of types; track type) {
					<option value="{{ type }}">{{ type }}</option>
				  }
				</select>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th>Type</th>
					<th>Code</th>
					<th>Valeur</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@for (variable of variables; track variable.numeroVariable) {
				<tr>
					<td class="label-nobr">{{ variable.type }}&nbsp;&nbsp;</td>
					<td class="label-nobr"><a (click)="formVariable(variable.numeroVariable)" class="link-primary pointeur-souris text-decoration-none">{{ variable.code }}</a>&nbsp;&nbsp;</td>
					<td>{{ variable.valeur }}&nbsp;&nbsp;</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>