<app-menu></app-menu>
<div id="main">
<form #formRef="ngForm" (ngSubmit)="addProductionFile()" class="needs-validation">
	<div class="card shadow center">
		<div class="card-header"><span i18n>Changement de l'archive d'une production</span></div>
		<div class="card-header shadow-sm">
			<button (click)="goToListProduction()" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-xmark"></i>&nbsp;<span i18n>Retour</span></button>
		</div>
		<div class="card-body">

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Titre</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="titre" name="titre" [(ngModel)]="production.titre" disabled>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Archive</span></label>
				<div class="col-sm-8">
					<input type="file" class="form-control form-control-sm field-separate" id="archive" name="archive" accept="application/zip" (change)="onArchiveSelected($event)">
					<div class="form-text field-separate"><span i18n>La taille de l'archive est limitée à 2 Go.</span></div>
				</div>
			</div>

		</div>
		<div class="card-footer">
			<button type="button" class="btn bg-gradient btn-success btn-sm text-left" type="submit" [disabled]="formRef.invalid"><i class="fa-solid fa-plus"></i>&nbsp;<span i18n>Téléverser</span></button>
		</div>
	</div>
</form>
</div>
