<br />
<form id="formVariable">
<div class="card">
	<div class="card-header">
		<button (click)="goToListCategorie()" class="btn btn-primary btn-sm"><i class="bi bi-x-lg"></i>&nbsp;Retour</button>
	</div>
	<div class="card-body">


		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Créé le</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="dateCreation" [(ngModel)]="categorie.dateCreation" name="dateCreation" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Modifié le</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="dateModification" [(ngModel)]="categorie.dateModification" name="dateModification" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Libellé</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="libelle" [(ngModel)]="categorie.libelle" name="libelle">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-2 col-form-label col-form-label-sm label-nobr">Numéro d'ordre</label>
			<div class="col-sm-10">
				<input type="text" class="form-control form-control-sm field-separate" id="numeroOrdre" [(ngModel)]="categorie.numeroOrdre" name="numeroOrdre">
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="available" [(ngModel)]="categorie.available" name="available"> 
					<label class="form-check-label" for="available">Disponible</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="uploadable" [(ngModel)]="categorie.uploadable" name="uploadable"> 
					<label class="form-check-label" for="uploadable">Téléversable</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="pollable" [(ngModel)]="categorie.pollable" name="pollable"> 
					<label class="form-check-label" for="pollable">Vote ouvert</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="computed" [(ngModel)]="categorie.computed" name="computed"> 
					<label class="form-check-label" for="computed">Vote calculé</label>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-2"></div>
			<div class="col-sm-10">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="displayable" [(ngModel)]="categorie.displayable" name="displayable"> 
					<label class="form-check-label" for="displayable">Vote publié</label>
				</div>
			</div>
		</div>

	</div>
	<div class="card-footer">
			<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#modalModifier"><i class="bi bi-check-lg"></i>&nbsp;Modifier</button>
			<button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#modalEffacer" style="float: right;"><i class="bi bi-trash"></i>&nbsp;Effacer</button>
	</div>
</div>
</form>

<div class="modal fade" id="modalModifier" tabindex="-1" aria-labelledby="modalModifierTitre" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalModifierTitre">Modification</h5>
			</div>
			<div class="modal-body">Actualiser cet enregistrement ?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-warning btn-sm" (click)="updateConfirmed()" data-bs-dismiss="modal">Confirmer</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalEffacer" tabindex="-1" aria-labelledby="modalEffacerTitre" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title text-danger" id="modalEffacerTitre">Suppression</h5>
			</div>
			<div class="modal-body">Effacer cet enregistrement ?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-danger btn-sm" (click)="deleteConfirmed()" data-bs-dismiss="modal">Confirmer</button>
			</div>
		</div>
	</div>
</div>

