<app-menu></app-menu>
<div id="main">
<div class="center" style="min-width: 30rem;">

<p class="fs-2 text-center">Bienvenue @if (this.logged) { {{ this.pseudonyme }} }</p>

@if (this.message) { 
  @if (this.message.erreur) { <div class="alert alert-danger" role="alert"> {{ this.message.erreur }}</div> } 
  @if (this.message.alerte) { <div class="alert alert-warning" role="alert"> {{ this.message.alerte }}</div> } 
  @if (this.message.information) { <div class="alert alert-info" role="alert"> {{ this.message.information }}</div> } 
  @if (this.message.autre) { <div class="alert alert-light" role="alert"> {{ this.message.autre }}</div> } 
}

@if (!this.logged) { <div class="alert alert-info" role="alert">Merci de vous <a href="/login">connecter</a> pour accéder à plus de fonctionnalités.</div> }

</div>
</div>
