<app-menu></app-menu>
<div id="main">

  <div id="webcamscarousel" class="carousel slide carousel-fade center" data-bs-ride="carousel">
    <div class="carousel-inner">
@for (scene of webcams; track scene.id) {
      <div class="carousel-item" [class.active]="scene.id === 1">
        <div class="d-flex justify-content-center fixed-height"><img [src]="scene.vue" [alt]="scene.id" data-bs-interval="10000"></div>
      </div>
}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#webcamscarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" i18n>Précedent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#webcamscarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" i18n>Suivant</span>
    </button>
  </div>

</div>
