<app-menu></app-menu>
<div id="main">
<div class="card shadow center">
	<div class="card-header"><span i18n>Fiche d'un participant</span></div>
	<div class="card-header shadow-sm">
		<button (click)="goToHome()" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-xmark"></i>&nbsp;<span i18n>Retour</span></button>
	</div>
	<div class="card-body form-scrollable">

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Créé le</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="dateCreation" name="dateCreation" [(ngModel)]="participant.dateCreation" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Modifié le</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="dateModification" name="dateModification" [(ngModel)]="participant.dateModification" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Profil</span></label>
			<div class="col-sm-8">
				<div class="form-group field-separate">
					<select class="form-select form-select-sm" id="role" name="role" [(ngModel)]="participant.role" disabled>
						<option [value]="this.profils[0].key">{{ this.profils[0].value }}</option>
						<option [value]="this.profils[1].key">{{ this.profils[1].value }}</option>
						<option [value]="this.profils[2].key" selected>{{ this.profils[2].value }}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Nom</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="nom" name="nom" [(ngModel)]="participant.nom" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Prénom</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="prenom" name="prenom" [(ngModel)]="participant.prenom" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Pseudonyme</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="pseudonyme" name="pseudonyme" [(ngModel)]="participant.pseudonyme" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Groupe</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="groupe" name="groupe" [(ngModel)]="participant.groupe" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Mot de passe</span></label>
			<div class="col-sm-8">
				<button type="button" (click)="updateMotDePasse()" class="btn bg-gradient btn-primary btn-sm field-separate"><i class="fa-solid fa-key"></i>&nbsp;<span i18n>Modifier</span></button>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Délai avant déconnexion</span></label>
			<div class="col-sm-2">
				<input type="number" min="5" max="60" class="form-control form-control-sm field-separate" id="delaiDeconnexion" name="delaiDeconnexion" [(ngModel)]="participant.delaiDeconnexion" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Adresse</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="adresse" name="adresse" [(ngModel)]="participant.adresse" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Code postal</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="codePostal" name="codePostal" [(ngModel)]="participant.codePostal" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Ville</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="ville" name="ville" [(ngModel)]="participant.ville" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Pays</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="pays" name="pays" [(ngModel)]="participant.pays" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Numéro de téléphone</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="numeroTelephone" name="numeroTelephone" [(ngModel)]="participant.numeroTelephone" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Adresse email</span></label>
			<div class="col-sm-8">
				<input type="email" class="form-control form-control-sm field-separate" id="email" name="email" [(ngModel)]="participant.email" disabled>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Inscrit le</span></label>
			<div class="col-sm-8">
				<input type="text" class="form-control form-control-sm field-separate" id="dateInscription" name="dateInscription" [(ngModel)]="participant.dateInscription" disabled>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="withMachine" name="withMachine" [(ngModel)]="participant.withMachine" disabled> <label class="form-check-label" for="withMachine"><small><span i18n>Avec machine</span></small></label>
				</div>
			</div>
		</div>

@if (this.journees.jour1Court) {
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="hereDay1" name="hereDay1" [(ngModel)]="participant.hereDay1" disabled> <label class="form-check-label" for="hereDay1"><small>{{ journees.jour1Long }}</small></label>
				</div>
			</div>
		</div>
}

@if (this.journees.jour2Court) {
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="hereDay2" name="hereDay2" [(ngModel)]="participant.hereDay2" disabled> <label class="form-check-label" for="hereDay2"><small>{{ journees.jour2Long }}</small></label>
				</div>
			</div>
		</div>
}

@if (this.journees.jour3Court) {
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="hereDay3" name="hereDay3" [(ngModel)]="participant.hereDay3" disabled> <label class="form-check-label" for="hereDay3"><small>{{ journees.jour3Long }}</small></label>
				</div>
			</div>
		</div>
}

@if (this.journees.dodosurplace) {
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="sleepingOnSite" name="sleepingOnSite" [(ngModel)]="participant.sleepingOnSite" disabled> <label class="form-check-label" for="sleepingOnSite"><small><span i18n>Dort sur place</span></small></label>
				</div>
			</div>
		</div>
}

@if (this.journees.amigabus) {
		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="useAmigabus" name="useAmigabus" [(ngModel)]="participant.useAmigabus" disabled><label class="form-check-label" for="useAmigabus"><small><span i18n>Vient en Amigabus</span></small></label>
				</div>
			</div>
		</div>
}

		<div class="form-group row">
			<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Commentaire</span></label>
			<div class="col-sm-8">
				<textarea class="form-control form-control-sm field-separate" id="commentaire" name="commentaire" [(ngModel)]="participant.commentaire" disabled></textarea>
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4"></div>
			<div class="col-sm-8">
				<div class="form-check form-switch">
					<input class="form-check-input field-separate" type="checkbox" id="arrived" name="arrived" [(ngModel)]="participant.arrived" disabled> <label class="form-check-label" for="arrived"><small><span i18n>Arrivé</span></small></label>
				</div>
			</div>
		</div>

	</div>
	<div class="card-footer">
		<button type="button" (click)="updateProfil()" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-pen"></i>&nbsp;<span i18n>Editer</span></button>
	</div>
</div>
</div>
