<app-menu></app-menu>
<div id="main">
<div class="card shadow">
  <div class="card-header"><span i18n>Liste des présentations</span></div>
	<div class="card-header shadow-sm">
		<div class="row">
			<div class="form-group col-sm-4 label-nobr">
				<button type="button" (click)="goToRefreshListCategorie()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><i class="fa-solid fa-rotate"></i>&nbsp;<span i18n>Actualiser</span></button>
        <button type="button" (click)="getVersionPDF()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;" i18n-tootip tooltip="Télécharger la version PDF de cette page pour impression" placement="right" container="body"><i class="fa-solid fa-file-text"></i>&nbsp;<span i18n>Imprimer</span></button>
			</div>
		</div>
	</div>
</div>

@for (categorie of categories; track categorie.numeroCategorie) { @if (categorie.available) {
<div class="card shadow">
  <div class="card-header">
    {{ categorie.libelle }}&nbsp;&nbsp;&nbsp;&nbsp;
    @if (!categorie.pollable) { <button type="button" (click)="lierProductions(categorie.numeroCategorie)" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;" i18n-tootip tooltip="Rattacher des productions à cette catégorie et les ordonner" placement="right" container="body"><i class="fa-solid fa-link"></i>&nbsp;<span i18n>Rattacher</span></button>  }
    @if (categorie.uploadable) { }
    @if (categorie.pollable) { }
    @if (categorie.computed) { }
    @if (categorie.displayable) { }
  </div>
  <div class="card-body hstack align-items-baseline show_row">
{{ resetLettre() }} @for (production of productions; track production.numeroProduction) { @if (categorie.numeroCategorie == production.numeroCategorie) {
    <div class="card shadow show_item" [class.show_red]="production.etatMedia === 0">
      <img [src]="production.vignette" class="img-fluid card-img-top pointeur-souris" (click)="formPresentation(production.numeroProduction)">
      <div class="card-header">
        <span class="card-title">{{ nextLettre() }} -<a (click)="formPresentation(production.numeroProduction)" class="text-primary pointeur-souris" style="margin-left:7px;">{{ production.titre }}</a></span><br/>
        <small><span class="text-muted">par</span> {{ production.auteurs }} @if (production.groupes) { @if (production.groupes.length > 0) { &nbsp;/&nbsp;{{ production.groupes }} } }</small>
      </div>
      <div class="card-body">
        <small><span class="text-muted">sur</span> {{ production.plateforme }}</small><br/>
        <small>{{ production.commentaire }}</small><br/>
        <small class="text-warning">{{ production.informationsPrivees }}</small>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <i class="fa-solid fa-download text-primary pointeur-souris" (click)="getFile(production.numeroProduction, production.nomArchive)" tooltip="{{ production.nomArchive }} (v{{ production.numeroVersion }})" placement="top" container="body"></i>
        <i class="fa-solid fa-user-tie text-muted" style="margin-left:7px;" i18n-tootip tooltip="géré par {{ production.nomGestionnaire }}" placement="top" container="body"></i>
        @if (production.etatMedia === 0) { <i class="fa-solid fa-circle-xmark text-danger ms-auto" style="margin-left:7px;" (click)="formPresentation(production.numeroProduction)" i18n-tootip tooltip="nécessite le média pour présentation" placement="top" container="body"></i> }
        @else if (production.etatMedia === 1) { <i class="fa-solid fa-square-check text-success ms-auto" style="margin-left:7px;" (click)="formPresentation(production.numeroProduction)" i18n-tootip tooltip="média présent" placement="top" container="body"></i> }
        @else if (production.etatMedia === 2) { <i class="fa-solid fa-square-arrow-up-right text-success ms-auto" style="margin-left:7px;" (click)="formPresentation(production.numeroProduction)" i18n-tootip tooltip="média hors fichier de présentation" placement="top" container="body"></i> }
      </div>
    </div>
} }
  </div>
</div>
} }

</div>
