<app-menu></app-menu>
<div id="main">
<form #formRef="ngForm" (ngSubmit)="addParticipant()" class="needs-validation">
	<div class="card shadow center">
		<div class="card-header"><span i18n>Fiche d'un participant</span></div>
		<div class="card-header shadow-sm">
			<button (click)="goToListParticipant()" class="btn bg-gradient btn-primary btn-sm"><i class="fa-solid fa-xmark"></i>&nbsp;<span i18n>Retour</span></button>
		</div>
		<div class="card-body scrollable">

@if (this.profil === "ADMIN") {
			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Profil</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="status" name="status" [(ngModel)]="participant.role" required #statusRef="ngModel">
							<option [value]="this.profils[0].key">{{ this.profils[0].value }}</option>
							<option [value]="this.profils[1].key">{{ this.profils[1].value }}</option>
							<option [value]="this.profils[2].key" selected>{{ this.profils[2].value }}</option>
						</select>
					</div>
				</div>
			</div>
} @else if (this.profil === "ORGA") {
			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Profil</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="status" name="status" [(ngModel)]="participant.role" required #statusRef="ngModel">
							<option [value]="this.profils[1].key">{{ this.profils[1].value }}</option>
							<option [value]="this.profils[2].key">{{ this.profils[2].value }}</option>
						</select>
					</div>
				</div>
			</div>
}
			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Nom</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="nom" name="nom" [(ngModel)]="participant.nom" #nomRef="ngModel" required [class.is-invalid]="nomRef.invalid && nomRef.touched">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Prénom</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="prenom" name="prenom" [(ngModel)]="participant.prenom">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Pseudonyme</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="pseudonyme" name="pseudonyme" [(ngModel)]="participant.pseudonyme" #pseudonymeRef="ngModel" required [class.is-invalid]="pseudonymeRef.invalid && pseudonymeRef.touched">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Groupe(s)</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="groupe" name="groupe" [(ngModel)]="participant.groupe">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Mot de passe</span></label>
				<div class="col-sm-8">
					<input type="password" class="form-control form-control-sm field-separate" id="motDePasse" name="motDePasse" [(ngModel)]="participant.motDePasse">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Délai avant déconnexion</span></label>
				<div class="col-sm-2">
					<input type="number" min="5" max="60" class="form-control form-control-sm field-separate" id="delaiDeconnexion" name="delaiDeconnexion" [(ngModel)]="participant.delaiDeconnexion">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Adresse</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="adresse" name="adresse" [(ngModel)]="participant.adresse">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Code postal</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="codePostal" name="codePostal" [(ngModel)]="participant.codePostal">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Ville</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="ville" name="ville" [(ngModel)]="participant.ville">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Pays</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="pays" name="pays" [(ngModel)]="participant.pays">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Numéro de téléphone</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="numeroTelephone" name="numeroTelephone" [(ngModel)]="participant.numeroTelephone">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Adresse email</span></label>
				<div class="col-sm-8">
					<input type="email" class="form-control form-control-sm field-separate" id="email" name="email" [(ngModel)]="participant.email">
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Status</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="status" name="status" [(ngModel)]="participant.statut" required #statusRef="ngModel" [class.is-invalid]="statusRef.invalid && statusRef.touched">
							@for (ps of PS; track ps.key) { <option [value]="ps.key">{{ ps.value }}</option> }
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="withMachine" name="withMachine" [(ngModel)]="participant.withMachine">
						<label class="form-check-label" for="withMachine"><small><span i18n>Avec machine</span></small></label>
					</div>
				</div>
			</div>

@if (this.journees.jour1Court) {
			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="hereDay1" name="hereDay1" [(ngModel)]="participant.hereDay1"><label class="form-check-label" for="hereDay1"><small>{{ journees.jour1Long }}</small></label>
					</div>
				</div>
			</div>
}

@if (this.journees.jour2Court) {
			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="hereDay2" name="hereDay2" [(ngModel)]="participant.hereDay2"><label class="form-check-label" for="hereDay2"><small>{{ journees.jour2Long }}</small></label>
					</div>
				</div>
			</div>
}

@if (this.journees.jour3Court) {
			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="hereDay3" name="hereDay3" [(ngModel)]="participant.hereDay3"><label class="form-check-label" for="hereDay3"><small>{{ journees.jour3Long }}</small></label>
					</div>
				</div>
			</div>
}

			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="sleepingOnSite" name="sleepingOnSite" [(ngModel)]="participant.sleepingOnSite"><label class="form-check-label" for="sleepingOnSite"><small><span i18n>Dort sur place</span></small></label>
					</div>
				</div>
			</div>

			<!-- <div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="useAmigabus" name="useAmigabus" [(ngModel)]="participant.useAmigabus">
						<label class="form-check-label" for="useAmigabus"><small><span i18n>Vient en Amigabus</span></small></label>
					</div>
				</div>
			</div> -->

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Commentaire</span></label>
				<div class="col-sm-8">
					<textarea class="form-control form-control-sm field-separate" id="commentaire" name="commentaire" [(ngModel)]="participant.commentaire"></textarea>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Mode de paiement</span></label>
				<div class="col-sm-8">
					<div class="form-group field-separate">
						<select class="form-select form-select-sm" id="modePaiement" name="modePaiement" [(ngModel)]="participant.modePaiement" required #modePaiementRef="ngModel">
							@for (pmp of PMP; track pmp.key) { <option [value]="pmp.key">{{ pmp.value }}</option> }
						</select>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Somme reçue</span></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" id="sommeRecue" name="sommeRecue" [(ngModel)]="participant.sommeRecue">
				</div>
			</div>

			<div class="form-group row">
				<div class="col-sm-4"></div>
				<div class="col-sm-8">
					<div class="form-check form-switch">
						<input class="form-check-input field-separate" type="checkbox" id="arrived" name="arrived" [(ngModel)]="participant.arrived" checked>
						<label class="form-check-label" for="arrived"><small><span i18n>Arrivé</span></small></label>
					</div>
				</div>
			</div>

		</div>
		<div class="card-footer">
			<button type="button" class="btn bg-gradient btn-success btn-sm text-left" type="submit" [disabled]="formRef.invalid"><i class="fa-solid fa-plus"></i>&nbsp;<span i18n>Créer</span></button>
		</div>
	</div>
</form>
</div>
