<app-menu></app-menu>
<div id="main">
<div class="card shadow" style="max-height:97vh;">
	<div class="card-header">
		<span i18n>Liste des participants : {{pagination.nombreElements}}</span>
	</div>
	<div class="card-header">
		<div class="row justify-content-end">
			<div class="form-group col-sm-3 label-nobr">
			  <div class="input-group input-group-sn">
				  <button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Tri</span></button>
				  <select class="form-select form-select-sm field-separate" id="select_tri" [(ngModel)]="listeTri" (change)="trier($event)" placement="bottom">
				 	  <option value="0"><span i18n>par nom, prénom, pseudo</span></option>
					  <option value="1"><span i18n>par ordre d'inscription</span></option>
				  </select>
			  </div>
		  </div>
		  <div class="form-group col-sm-2 label-nobr">
			  <div class="input-group input-group-sn">
				  <button type="button" (click)="filtrageParNom()" class="btn bg-gradient btn-primary btn-sm field-separate"><fa-icon [icon]="faFilter"></fa-icon>&nbsp;<span i18n>Filtrer</span></button>
				  <input type="text" (keydown.enter)="filtrageParNom()" class="form-control form-control-sm field-separate" id="input_nom" [(ngModel)]="nomFiltre" i18n-tooltip tooltip="Filtrer par nom, prenom, pseudonyme ou adresse email" placement="bottom" containor="body">
			  </div>
		  </div>
		  <div class="form-group col-sm-2 label-nobr">
			  <div class="input-group input-group-sn">
				  <button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Réglement</span></button>
				  <select class="form-select form-select-sm field-separate" id="select_statut" [(ngModel)]="statutFiltre" (change)="filtrageParStatut($event)">
					  <option value="0">Indifférent</option>
					  <option value="1"><span i18n>En attente</span></option>
				  </select>
			  </div>
		  </div>
		  <div class="form-group col-sm-2 label-nobr">
			  <div class="input-group input-group-sn">
				  <button type="button" class="btn bg-gradient btn-secondary btn-sm field-separate" disabled><span i18n>Arrivé(s)</span></button>
				  <select class="form-select form-select-sm field-separate" id="select_arrive" [(ngModel)]="arriveFiltre" (change)="filtrageParArrive($event)">
					  <option value="0">Indifférent</option>
					  <option value="1"><span i18n>Non</span></option>
					  <option value="2"><span i18n>Oui</span></option>
				  </select>
			  </div>
		  </div>
		  <div class="form-group col-sm-2 label-nobr">
			  <button type="button" (click)="filtrageReset()" class="btn bg-gradient btn-secondary btn-sm field-separate" style="margin-right: 5px;"><fa-icon [icon]="faFilterCircleXmark"></fa-icon>&nbsp;<span i18n>Retirer les filtres</span></button>
		  </div>
		</div>
	</div>
	<div class="card-header shadow-sm">
		<div class="row justify-content-start">
			<div class="form-group col-sm-2 label-nobr">
				<button type="button" (click)="goToRefreshListParticipant()" class="btn bg-gradient btn-primary btn-sm field-separate" style="margin-right: 5px;"><fa-icon [icon]="faRotate"></fa-icon>&nbsp;<span i18n>Actualiser</span></button>
				<button type="button" (click)="goToNewParticipant()" class="btn bg-gradient btn-primary btn-sm field-separate" style="margin-right: 5px;" style="margin-right: 5px;"><fa-icon [icon]="faPlus"></fa-icon>&nbsp;<span i18n>Créer</span></button>
				<button type="button" (click)="topperArrives()" class="btn bg-gradient btn-primary btn-sm field-separate disabled" style="margin-right: 5px;" #boutonSetArrives i18n-tooltip tooltip="Déclarer les participants sélectionnés comme arrivés" placement="bottom" containor="body"><fa-icon [icon]="faFlagCheckered"></fa-icon>&nbsp;<span i18n>Sont arrivés</span></button>
			</div>
   	</div>
	</div>
	<div class="card-body table-scrollable" #listeParticipants>
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="fs-6 label-nobr"><small>&nbsp;</small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Nom</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Pseudonyme</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Status</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Arrivé</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Journées</span></small></th>
					<th class="fs-6 label-nobr"><small><span i18n>Adresse email</span></small></th>
				</tr>
			</thead>
			<tbody>
				@for (participant of participants; track participant.numeroParticipant) {
				<tr>
					<td class="label-nobr">@if (!participant.arrived) { <div class="form-check"><input class="form-check-input" type="checkbox" value="off" id="check_{{participant.numeroParticipant}}" (change)="modifierSelection($event)"></div> } </td>
					<td class="label-nobr text-truncate" style="max-width:200px;"><a (click)="formParticipant(participant.numeroParticipant)" class="link-primary pointeur-souris text-decoration-none">{{ participant.nom }}&nbsp;{{ participant.prenom }}</a>&nbsp;&nbsp;</td>
					<td class="label-nobr text-truncate" style="max-width:200px;"><a (click)="formParticipant(participant.numeroParticipant)" class="link-primary pointeur-souris text-decoration-none">{{ participant.pseudonyme }}</a>@if (participant.groupe) { / {{ participant.groupe }} }&nbsp;&nbsp;</td>
					<td>
						@if (participant.statut === PS[0].key) { <fa-icon [icon]="faCircleXmark" class="text-danger" title="{{ PS[0].value }}"></fa-icon> }
						@else if (participant.statut === PS[1].key) { <fa-icon [icon]="faCircleCheck" class="text-success" title="{{ PS[1].value }}"></fa-icon> }
						@else if (participant.statut === PS[2].key) { <fa-icon [icon]="faCircleCheck" class="text-success" title="{{ PS[2].value }}"></fa-icon> }
						@else if (participant.statut === PS[3].key) { <fa-icon [icon]="faCircleCheck" class="text-success" title="{{ PS[3].value }}"></fa-icon> }
						@else if (participant.statut === PS[4].key) { <fa-icon [icon]="faCircleCheck" class="text-success" title="{{ PS[4].value }}"></fa-icon> }
						@else if (participant.statut === PS[5].key) { <fa-icon [icon]="faCircleCheck" class="text-primary" title="{{ PS[5].value }}"></fa-icon> }
						@else if (participant.statut === PS[6].key) { <fa-icon [icon]="faCircleCheck" class="text-primary" title="{{ PS[6].value }}"></fa-icon> }
					</td>
					<td>
					  @if (participant.arrived) { <fa-icon [icon]="faCircleCheck" class="text-success"></fa-icon> }
					  @else { <fa-icon [icon]="faCircleXmark" class="text-danger"></fa-icon> }&nbsp;&nbsp;
					</td>
					<td>{{ getNombreJours(participant.hereDay1, participant.hereDay2, participant.hereDay3) }} @if(participant.sleepingOnSite) { + <fa-icon [icon]="faBed"></fa-icon> }</td>
					<td class="label-nobr">{{ participant.email }}&nbsp;&nbsp;</td>
				</tr>
				}
			</tbody>
		</table>
	</div>
	@if (pagination.nombrePages > 1) {
	<div class="card-footer" style="max-height:54px;">
		<nav>
		  <ul class="pagination">
				<li class="page-item" [class.disabled]="pagination.pageCourante == 0"><a class="page-link" (click)="goToPrevPage()"><fa-icon [icon]="faArrowLeft"></fa-icon></a></li>
				@for (p of pages; track p) { <li class="page-item" [class.active]="pagination.pageCourante == (p - 1)"><a class="page-link" (click)="goToPage(p - 1)">{{p}}</a></li> }
				<li class="page-item" [class.disabled]="pagination.pageCourante == (pagination.nombrePages - 1)"><a class="page-link" (click)="goToNextPage()"><fa-icon [icon]="faArrowRight"></fa-icon></a></li>
		  </ul>
		</nav>
	</div>
	}
</div>
</div>
