<div class="card shadow">
	<div class="card-header">Table des participants</div>
	<div class="card-header shadow-sm">
		<div class="row">
			<div class="form-group col-sm-4 label-nobr">
				<button type="button" (click)="goToRefreshListParticipant()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><i class="fa-solid fa-rotate"></i>&nbsp;Actualiser</button>
				<button type="button" (click)="goToNewParticipant()" class="btn bg-gradient btn-primary btn-sm" style="margin-right: 5px;"><i class="fa-solid fa-plus"></i>&nbsp;Créer</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table class="table table-sm">
			<thead class="thead-dark">
				<tr>
					<th class="fs-6 label-nobr"><small>Nom</small></th>
					<th class="fs-6 label-nobr"><small>Pseudonyme</small></th>
					<th class="fs-6 label-nobr"><small>Arrivé</small></th>
					<th class="fs-6 label-nobr"><small>Status</small></th>
				</tr>
			</thead>
			<tbody>
				@for (participant of participants; track participant.numeroParticipant) {
				<tr>
					<td class="label-nobr">{{ participant.nom }}&nbsp;{{ participant.prenom }}&nbsp;&nbsp;</td>
					<td class="label-nobr"><a (click)="formParticipant(participant.numeroParticipant)" class="link-primary pointeur-souris text-decoration-none">{{ participant.pseudonyme }}</a>&nbsp;&nbsp;</td>
					<td>
					  @if (participant.arrived) { <i class="fa-solid fa-circle-check text-success"></i> } 
					  @else { <i class="fa-solid fa-circle-xmark text-danger"></i> }&nbsp;&nbsp;
					</td>
					<td>
					  @if (participant.status === PS[0].key) { <i class="fa-solid fa-circle-xmark text-danger" title="{{ PS[0].value }}"></i> }
					  @else if (participant.status === PS[1].key) { <i class="fa-solid fa-circle-xmark text-success" title="{{ PS[1].value }}"></i> }  
					  @else if (participant.status === PS[2].key) { <i class="fa-solid fa-circle-xmark text-success" title="{{ PS[2].value }}"></i> }  
					  @else if (participant.status === PS[3].key) { <i class="fa-solid fa-circle-xmark text-success" title="{{ PS[3].value }}"></i> }  
					  @else if (participant.status === PS[4].key) { <i class="fa-solid fa-circle-xmark text-success" title="{{ PS[4].value }}"></i> }  
					  @else if (participant.status === PS[5].key) { <i class="fa-solid fa-circle-xmark text-primary" title="{{ PS[5].value }}"></i> }  
					  @else if (participant.status === PS[6].key) { <i class="fa-solid fa-circle-xmark text-primary" title="{{ PS[6].value }}"></i> } 
					 </td>
				</tr>
				}
			</tbody>
		</table>
	</div>
</div>
