<div class="d-flex flex-column flex-shrink-0 bg-body-tertiary" id="sidenav">
  <ul class="nav nav-pills nav-flush flex-column text-center">
	 	<li><a href="/home" class="nav-link rounded-0 bg-gradient" #menu_home tooltip="Accueil" placement="right" container="body"><i class="fa-solid fa-home"></i></a></li>
@if (!this.logged) {
		<li><a href="/login" class="nav-link rounded-0 bg-gradient" #menu_login tooltip="Login" placement="right" container="body"><i class="fa-solid fa-right-to-bracket"></i></a></li>
}
@if (this.logged) {		
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_account tooltip="Compte" placement="right" container="body"><i class="fa-solid fa-user"></i></a></li>
		<li><a href="#" (click)="signOut()" class="nav-link rounded-0 bg-gradient" #menu_logout tooltip="Logout" placement="right" container="body"><i class="fa-solid fa-right-from-bracket"></i></a></li>
}
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_agenda tooltip="Planning" placement="right" container="body"><i class="fa-solid fa-clock"></i></a></li>
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_webcams tooltip="Caméras" placement="right" container="body"><i class="fa-solid fa-eye"></i></a></li>
@if (this.logged) {		
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_chat tooltip="Messagerie" placement="right" container="body"><i class="fa-solid fa-comments"></i></a></li>
}
		<li><a href="/participant-list" class="nav-link rounded-0 bg-gradient" #menu_users tooltip="Participants" placement="right" container="body"><i class="fa-solid fa-users"></i></a></li>

		<li><a href="/categorie-list" class="nav-link rounded-0 bg-gradient" #menu_compos tooltip="Catégories" placement="right" container="body"><i class="fa-solid fa-layer-group"></i></a></li>
		<li><a href="/production-list" class="nav-link rounded-0 bg-gradient" #menu_prods tooltip="Productions" placement="right" container="body"><i class="fa-solid fa-save"></i></a></li>

		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_shows tooltip="Présentations" placement="right" container="body"><i class="fa-solid fa-display"></i></a></li>
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_votes tooltip="Voter" placement="right" container="body"><i class="fa-solid fa-vote-yea"></i></a></li>
		<li><a href="#" class="nav-link rounded-0 bg-gradient" #menu_results tooltip="Résultats" placement="right" container="body"><i class="fa-solid fa-trophy"></i></a></li>

		<li><a href="/variable-list" class="nav-link rounded-0 bg-gradient" #menu_param tooltip="Paramétrages" placement="right" container="body"><i class="fa-solid fa-sliders-h"></i></a></li>
	</ul>
</div>
<div id="main">
	<router-outlet></router-outlet>
</div>
