<app-menu></app-menu>
<div id="main">
<form #formRef="ngForm" (ngSubmit)="connexion()" class="needs-validation">
	<div class="card shadow center" style="min-width: 30rem;">
		<div class="card-header"><span i18n>S'identifier</span></div>
		<div class="card-body">

			@if (this.identifiants.erreur !== "") {
			<div class="form-group row">
				<div class="col-sm-12 col-form-label col-form-label-sm">
					<div class="alert alert-warning" role="alert">{{ this.identifiants.erreur }}</div>
				</div>
			</div>
			}

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"></label>
				<div class="col-sm-8">
					<div class="form-text field-separate"><span i18n>La différence minuscules-majuscules est prise en compte.</span></div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Pseudonyme</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="text" class="form-control form-control-sm field-separate" #userid id="userid" name="userid" [(ngModel)]="identifiants.username" #userRef="ngModel" required [class.is-invalid]="userRef.invalid && userRef.touched" autofocus>
					<div class="form-text field-separate"><span i18n>Indiquez celui fourni lors de l'inscription.<br/>S'il est commun à d'autres participants, merci de contacter l'administrateur.</span></div>
				</div>
			</div>

			<div class="form-group row">
				<label class="col-sm-4 col-form-label col-form-label-sm label-nobr"><span i18n>Mot de passe</span>&nbsp;<sup><span class="text-danger">*</span></sup></label>
				<div class="col-sm-8">
					<input type="password" class="form-control form-control-sm field-separate" id="userpwd" name="userpwd" [(ngModel)]="identifiants.password" #passRef="ngModel" required [class.is-invalid]="passRef.invalid && passRef.touched">
					<div class="form-text field-separate"><span i18n>Merci de contacter l'administrateur si vous l'avez oublié ou ne le connaissez pas.</span></div>
				</div>
			</div>

		</div>
		<div class="card-footer" #menu_login>
			<button type="button" class="btn bg-gradient btn-success btn-sm text-left" type="submit" [disabled]="formRef.invalid"><i class="fa-solid fa-right-to-bracket"></i>&nbsp;<span i18n>Login</span></button>
		</div>
	</div>
</form>
</div>
