<app-menu></app-menu>
<div id="main">
<div class="card shadow rounded-bottom-0">

  <p class="fs-3 text-center" style="margin-top:12px;"><span i18n>Planning des conférences et événements</span></p>

  <div style="margin:auto;"><small><span i18n>Soumis à modifications, merci de consulter cette page régulièrement.</span></small></div>
</div>

<div class="d-flex flex-wrap justify-content-around">

@if (this.journees.jour1Court) {

   <div class="card shadow" style="width:33rem;">
    <div class="card-header text-center">
      <span class="fs-5 card-title"><strong>{{ this.journees.jour1Long }}</strong></span>
    </div>
    <div class="card-body">

    @for (evenement of evenements1; track evenement.numeroEvenement) {
      <div [class]="{'alert': true, 'alert-dark': evenement.type === types[0].key, 'alert-secondary': evenement.type === types[1].key, 'alert-info': evenement.type === types[2].key, 'alert-warning': evenement.type === types[3].key, 'alert-success': evenement.type === types[4].key}" role="alert">
        <p><strong>{{ evenement.heureDebut }}&nbsp;@if (evenement.heureFin){ -&nbsp;{{ evenement.heureFin }}&nbsp; }: {{ evenement.intitule }}</strong></p>
        <p>{{ evenement.descriptif }}</p>
        <p><small>{{ evenement.lien }}</small></p>
      </div>
    }

    </div>
   </div>
}
@if (this.journees.jour2Court) {

   <div class="card shadow" style="width:33rem;">
    <div class="card-header text-center">
      <span class="fs-5 card-title"><strong>{{ this.journees.jour2Long }}</strong></span>
    </div>
    <div class="card-body">

      @for (evenement of evenements2; track evenement.numeroEvenement) {
        <div [class]="{'alert': true, 'alert-dark': evenement.type === types[0].key, 'alert-secondary': evenement.type === types[1].key, 'alert-info': evenement.type === types[2].key, 'alert-warning': evenement.type === types[3].key, 'alert-success': evenement.type === types[4].key}" role="alert">
          <p><strong>{{ evenement.heureDebut }}&nbsp;@if (evenement.heureFin){ -&nbsp;{{ evenement.heureFin }}&nbsp; }: {{ evenement.intitule }}</strong></p>
          <p>{{ evenement.descriptif }}</p>
          <p><small>{{ evenement.lien }}</small></p>
        </div>
      }

    </div>
   </div>
}
@if (this.journees.jour3Court) {

   <div class="card shadow" style="width:33rem;">
    <div class="card-header text-center">
      <span class="fs-5 card-title"><strong>{{ this.journees.jour3Long }}</strong></span>
    </div>
    <div class="card-body">

      @for (evenement of evenements3; track evenement.numeroEvenement) {
        <div [class]="{'alert': true, 'alert-dark': evenement.type === types[0].key, 'alert-secondary': evenement.type === types[1].key, 'alert-info': evenement.type === types[2].key, 'alert-warning': evenement.type === types[3].key, 'alert-success': evenement.type === types[4].key}" role="alert">
          <p><strong>{{ evenement.heureDebut }}&nbsp;@if (evenement.heureFin){ -&nbsp;{{ evenement.heureFin }}&nbsp; }: {{ evenement.intitule }}</strong></p>
          <p>{{ evenement.descriptif }}</p>
          <p><small>{{ evenement.lien }}</small></p>
        </div>
      }

    </div>
   </div>
}

</div>
</div>
